<%- include('./partials/header.ejs') -%>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    <title>Edit blog post</title>
</head>

<body>

    <div class="container">
        <h1 class="mb-4 text-black">editing <%= blog.title %> </h1>

        <form action="/blogs/<%= blog.id %>?_method=PUT" method="POST">
            <div class="row">
                <div class="col-md-10 mb-3 form-group">
                    <input type="text" class="form-control" placeholder="Title" value="<%= blog.title %>" name="title" required>
                   
                </div>
                
                <div class="col-md-10 mb-3 form-group">
                    <input type="text" class="form-control" placeholder="Add Tags (Use comma as a seperator  ' , ' )" value="<%= blog.tags %>" name="tags" required>
                </div>
                <div class="col-md-10 mb-3 form-group">
                    <input type="text" class="form-control" placeholder="Add Meta Keywords (Use comma as a seperator  ' , ' )" value="<%= blog.metaKeywords%>" name="tags" required>
                </div>

                <div class="col-md-10 mb-3 form-group">
                    <input type="text" class="form-control" placeholder="Author" name="author" value="<%= blog.author %>" required>
                   
                </div>
                <div class="col-md-10 mb-3 form-group">

                    <textarea name="description" placeholder="Description" class="form-control" rows="20" cols="50">

                        <%= blog.description %>
                    </textarea>
                </div>

                <div class="col-md-10 mb-3 form-group">
                    <a href="/" class="btn btn-warning">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
<%- include('./partials/footer.ejs') -%>
